<h1>Edite Seu Perfil</h1>

<% if @employee.errors.any? %>
  <div class='alert'>
    <p>Não foi possível editar seu perfil</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @employee, url: employee_path(@employee) do |f| %>
  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :about_me %>
    <%= f.text_area :about_me %>
  </div>
  <div>
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>
  <%= f.fields_for @employee.employee_profile do |profile_f| %>
    <div>
      <%= profile_f.label :role %>
      <%= profile_f.text_field :role %>
    </div>
    <div>
      <%= profile_f.label :employee_code %>
      <%= profile_f.text_field :employee_code %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>