<% if @employee.avatar.attached? %>
  <%= image_tag @employee.avatar.variant(resize_to_limit: [300, 300]), alt: 'Foto de Perfil' %>
<% else %>
  <%= image_tag('avatar_placeholder.png', size: '300', alt: 'Foto de Perfil') %>
<% end %>

<p><%= @employee.about_me %></p>
<h1><%= @employee.full_name %></h1>
<p><%= @employee.username %></p>
<% if current_user == @employee %>
  <p><%= @employee.cpf %></p>
<% end %>
<p><%= @employee.email %></p>
<p><%= @employee.employee_profile.role %></p>
<p><%= @employee.employee_profile.employee_code %></p>

<%= link_to 'Voltar', root_path %>