<h1>
  <%= "Vaga: #{@job_opportunity.title} - " %>
  <%= link_to @job_opportunity.company.name, company_path(@job_opportunity.company) %>
</h1>

<p>
  Status: 
  <% if @job_application.refused? %>
    <%= human_attribute_enum(:job_application, :status, @job_application.status) %>
  <% end %>
  <% if @job_application.responded? %>
    <%= human_attribute_enum(:job_application, :status, @job_application.status) %>
  <% end %>
</p>

<p>
  <%= "Faixa salarial: #{number_to_currency(@job_opportunity.min_salary)} - #{number_to_currency(@job_opportunity.max_salary)}" %>
</p>
<p>
  <%= "Número de vagas disponíveis: #{@job_opportunity.total_job_opportunities}" %>
</p>
<p>
  <%= "Candidato: #{@candidate.user.full_name}" %>
</p>
<p>
  <%= @candidate.biography %>
</p>
<p>
  <%= @candidate.user.email %>
</p>
<p>
  <%= number_to_phone(@candidate.cellphone_number, pattern: /(\d{2})(\d{5})(\d{4})$/, area_code: true) %>
</p>

<% unless @job_application.replied? %>
  <% if @job_opportunity.company.employee?(current_user) %>
    <button onclick='showForm("candidature-refusal-form")'>Recusar Candidatura</button>
    <%= form_with model: @refusal_response,
              url: refusal_company_job_opportunity_job_application_response_path(
                @job_opportunity.company,
                @job_opportunity,
                @job_application
              ), style: 'display: none;', id: 'candidature-refusal-form' do |f| %>
      <%= f.hidden_field :refuser, value: 'company' %>
      <div>
        <%= f.label :reason %>
        <%= f.text_area :reason %>
      </div>
      <%= f.submit 'Enviar' %>
    <% end %>

    <button onclick='showForm("candidature-proposal-form")'>Fazer Proposta</button>
    <%= form_with model: @proposal_response,
              url: proposal_company_job_opportunity_job_application_response_path(
                @job_opportunity.company,
                @job_opportunity,
                @job_application
              ), style: 'display: none;', id: 'candidature-proposal-form' do |f| %>
      <div>
        <%= f.label :message %>
        <%= f.text_area :message %>
      </div>
      <div>
        <%= f.label :salary_proposal %>
        <%= f.number_field :salary_proposal,
        value: number_to_currency(f.object.salary_proposal.to_f),
        step: :any %>
      </div>
      <div>
        <%= f.label :start_date %>
        <%= f.date_field :start_date %>
      </div>
      <%= f.submit 'Enviar' %>
    <% end %>
  <% end %>
<% end %>
