<h1>Resultados</h1>

<%= render 'search_form' %>

<div class='companies'>
  <h2>Empresas</h2>
  <% if @companies.empty? %>
    <p><strong>Nenhum resultado encontrado...</strong></p>
  <% end %>

  <ul>
    <% @companies.each do |company| %>
      <li><%= link_to company.name, company %></li>
    <% end %>
  </ul>
</div>

<div class='job_opportunities'>
  <h2>Vagas</h2>
  <% if @job_opportunities.empty? %>
    <p><strong>Nenhum resultado encontrado...</strong></p>
  <% end %>

  <% @job_opportunities.each do |job_opportunity| %>
    <div>
      <%= link_to job_opportunity.title, company_job_opportunity_path(job_opportunity.company, job_opportunity) %>
      <p><%= "Vagas disponíveis: #{job_opportunity.total_job_opportunities}" %></p>
      <p>Nível: <%= human_attribute_enum(:job_opportunity,
                                        :professional_level,
                                        job_opportunity.professional_level) %>
      </p>
    </div>
  <% end %>
</div>
