<h1>Edite Seu Perfil</h1>

<% if @candidate.errors.any? %>
  <div class='alert'>
    <p>Não foi possível editar a empresa</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @candidate, url: candidate_path(@candidate) do |f| %>
  <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :about_me %>
    <%= f.text_area :about_me %>
  </div>
  <div>
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>
  <%= f.fields_for @candidate.candidate_profile do |profile_f| %>
    <div>
      <%= profile_f.label :cellphone_number %>
      <%= profile_f.telephone_field :cellphone_number %>
    </div>
    <div>
      <%= profile_f.label :biography %>
      <%= profile_f.text_area :biography %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>