<% if @company.cover.attached? %>
  <%= image_tag @company.cover, alt: 'Foto de capa' %>
<% else %>
  <%= image_tag('cover_placeholder.png', alt: 'Foto de capa') %>
<% end %>
<% if @company.logo.attached? %>
  <%= image_tag @company.logo, alt: 'Logomarca' %>
<% else %>
  <%= image_tag('logo_placeholder.png', alt: 'Logomarca') %>
<% end %>

<h1><%= @company.name %></h1>
<h2><%= @company.cnpj %></h2>
<p><%= @company.description %></p>
<% if @company.creation_date %>
  <p><%= "Trabalhando desde: #{l(@company.creation_date, format: :long)}" %></p>
<% end %>
<p><%= @company.address %></p>
<p><%= @company.site %></p>

<h3>Vagas abertas</h3>

<% unless @company.job_opportunities.empty? %>
  <ul>
    <% @company.job_opportunities.each do |job_opportunity| %>
      <li>
        <%= job_opportunity.title %>: <%= t(job_opportunity.professional_level) %>
      </li>
    <% end %>
  </ul>
<% end %>


<% if @company.employee?(current_user) %>
  <%= link_to 'Criar Vaga', new_job_opportunity_path %>
<% end %>

<h3>Vagas</h3>
<% @job_opportunities.each do |job_opportunity| %>
  <div>
    <%= link_to job_opportunity.title, job_opportunity %>
    <p><%= "Vagas disponíveis: #{job_opportunity.total_job_opportunities}" %></p>
    <p>Nível: <%= human_attribute_enum(:job_opportunity,
                                        :professional_level,
                                        job_opportunity.professional_level) %>
    </p>
    <% if @company.employee?(current_user) %>
      <p>
        <%= human_attribute_enum(:job_opportunity,
                                :status,
                                job_opportunity.status) %>
      </p>
    <% end %>
  </div>
<% end %>

<%= link_to 'Voltar', root_path %>