<h1><%= @job_opportunity.title %></h1>

<% if @job_opportunity.enable? %>
  <%= link_to 'Inativar', disable_company_job_opportunity_path(@company, @job_opportunity), method: :post %>
<% end %>
<% if @job_opportunity.disable? %>
  <%= link_to 'Ativar', enable_company_job_opportunity_path(@company, @job_opportunity), method: :post %>
<% end %>

<%= "Salário: #{number_to_currency(@job_opportunity.min_salary)} -" +
    " #{number_to_currency(@job_opportunity.max_salary)}" %>
<%= @job_opportunity.description %>
<%= human_attribute_enum(:job_opportunity,
                          :professional_level,
                          @job_opportunity.professional_level) %>
<% unless @job_opportunity.application_deadline.nil? %>
  <%= "Vaga disponível até #{l(@job_opportunity.application_deadline, format: :long)}" %>
<% end %>

<% if @company.employee?(current_user) %>
  <%= human_attribute_enum(:job_opportunity,
                          :status,
                          @job_opportunity.status) %>
<% end %>

<%= "Número de vagas disponíveis: #{@job_opportunity.total_job_opportunities}" %>

<% unless @company.employee?(current_user) %>
  <% if current_user&.applied?(@job_opportunity) %>
    <p>Você já se candidatou a esta vaga</p>
    <%= link_to 'Detalhes da Candidatura',
                company_job_opportunity_job_application_path(@company,
                                                             @job_opportunity,
                                                             @job_opportunity.job_application_for(current_user)) %>
  <% else %>
    <%= link_to 'Candidatar-se',
                apply_company_job_opportunity_path(@company, @job_opportunity),
                method: :post %>
  <% end %>
<% end %>

<% if @company.employee?(current_user) %>
  <h2>Candidaturas</h2>
  <% @job_opportunity.candidates.each do |candidate| %>
    <%= link_to candidate.full_name,
                company_job_opportunity_job_application_path(@company,
                                                             @job_opportunity,
                                                             @job_opportunity.job_application_for(candidate)) %>
  <% end %>
<% end %>

<%= link_to 'Editar Vaga', edit_company_job_opportunity_path(@company, @job_opportunity) %>
<%= link_to @company.name, company_path(@company) %>
<%= link_to 'Voltar', company_path(@company) %>
