<!DOCTYPE html>
<html>
  <head>
    <title>Vem De Vagas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(resize_to_limit: [100, 100]), alt: 'Foto de Perfil' %>
        <% else %>
          <%= image_tag('avatar_placeholder.png', size: '100', alt: 'Foto de Perfil') %>
        <% end %>

        <%= current_user.username %>

        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>

        <% if current_user.employee? %>
          <%= link_to 'Minha Empresa', company_path(current_user.company) %>
        <% end %>

      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
